{% extends "base.html" %}

<!-- [
    {
        "code": "CS101",
        "name": "Introduction to Computer Science",
        "instructor": "Dr. Smith",
        "semester": "Fall 2024",
        "schedule": "Mon, Wed, Fri 10:00-11:00 AM",
        "classroom": "Room 101",
        "prerequisites": "None",
        "grading": "Midterm 30%, Final 50%, Homework 20%",
        "description": "An introduction to the basics of computer science."
    },
    {
        "code": "CS 203",
        "name": "Software and Tools for AI",
        "instructor": "Prof. Mayank Singh",
        "semester": "Fall 2025",
        "schedule": "Mon, Wed, Fri 10:00-11:00 AM",
        "classroom": "AB 7/109",
        "prerequisites": "Basic Python, Linux",
        "grading": "50% Assignment, 50% Quiz",
        "description": ""
    }
] -->

{% block content %}
<form action="submit" method="post">
    <label for="code">Course Code: </label> <input type="text" name="code" id="code">
    <label for="name">Course Name: </label> <input type="text" name="name" id="name">
    <label for="instructor">Instructor: </label> <input type="text" name="instructor" id="instructor">
    <label for="semester">Semester: </label> <input type="text" name="semester" id="semester">
    <label for="schedule">Schedule: </label> <input type="text" name="schedule" id="schedule">
    <label for="classroom">Classroom: </label> <input type="text" name="classroom" id="classroom">
    <label for="prerequisites">Prerequisites: </label> <input type="text" name="prerequisites" id="prerequisites">
    <label for="grading">Grading: </label> <input type="text" name="grading" id="grading">
    <label for="description">Description: </label> <input type="text" name="description" id="description">
    <button type="submit">Submit</button>
</form>
{% endblock %}
